.page {
    height: 100%;
    width: 100%;
    background-color: #C5BAAF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game-heading{
    position: absolute;
    top: 5%;
}

.board {
    width: 360px;
    height: 360px;
    display: flex;
    flex-wrap: wrap;
}

.box {
    height: 110px;
    width: 110px;
    margin: 4px;
    border-radius: 10px;
    background-color: #78BEC5;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.O {
    background-color: #ECAF4F;
}

.X {
    background-color: #DC685A;
}

.value {
    color: white;
    font-size: 40px;
}

.btn-reset {
    margin-top: 20px;
    align-self: center;
    background-color: #3f50b5;
    border: 1px solid transparent;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    font-family: -apple-system, system-ui, "Segoe UI", "Liberation Sans", sans-serif;
    font-size: 20px;
    padding: 8px .8em;
}

.result {
    color: #017734;
    margin-bottom: 30px;
    font-size: 30px;
}

.draw {
    color: #9b140f
}

